body {
  background-color: var(--off-white);
  margin: 0;
}

.footer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  padding: var(--padding-md);
}

.footer .social {
  display: flex;
  gap: var(--gap);
}
.footer .social .fa {
  color: var(--black);
}

.footer .social .fa:hover {
  color: var(--btn-color-primary);
}
