.homepage-container .item-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 80vh;
}

.homepage-container button {
  z-index: 1;
  background-color: var(--btn-color-primary);
}

p span {
  display: block;
}

.homepage-container p {
  font-size: larger;
}

.btn-cta {
  cursor: pointer;
  height: 3rem;
  width: 6rem;
  border-radius: 0.5rem;
}

.btn-cta:hover {
  background-color: var(--btn-color-hover);
}
