.questions-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  width: 30rem;
  margin: auto;
  text-align: center;
  min-height: 80vh;
}

.questions-container .button {
  padding: var(--padding-md);
  background-color: var(--btn-color-primary);
}

.questions-container .button:hover {
  background-color: var(--btn-color-hover);
}

.footer {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
