.quiz-rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  gap: 0.5rem;
}

.quiz-rules button {
  cursor: pointer;
  background-color: var(--btn-color-primary);
}
.quiz-rules button:hover {
  background-color: var(--btn-color-hover);
}

.quiz-rules button:disabled {
  cursor: not-allowed;
  background-color: var(--btn-color-primary);
}
