.questions-container p {
  margin: 2rem 0;
}
.questions-container .selected {
  background-color: var(--red);
}
.questions-container .answer {
  background-color: var(--green);
}

.questions-container button {
  padding: var(--padding-md);
  background-color: var(--btn-color-primary);
  width: 30rem;
  margin: 0.5rem;
  border-radius: 1rem;
}
